*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#pagina{
    width: 900px;
    height: 1000px;
    background-color: bisque;
    margin: 0 auto;
    padding: 0;
    border: solid black;
}

#encabezado{
    height: 15%;
    display: flex;
    justify-content: center;
    background-color: green;
}

#barraNavegacion{
    height: 5%;
    display: flex;
    background-color: red;
    justify-content: center;
}


nav a{
    color: azure;
    flex-direction:row;
    padding: 14px 20px;
    text-decoration: none;
    margin:10px;

}

picture{
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 20px;
}

#texto{
    height: 70%;
    display: flex;
    justify-content: center;
    text-align: justify;
    padding: 20px;
}

#pieNavegacion{
    height: 10%;
    margin: 20px;
    display: flex;
    justify-content: center;
}

ul{
    display: flex;
    justify-content: center;
    list-style: none;
}


img{
    width: 100px;
    border: solid black;
    margin-left: 5px;
    margin-right: 5px;
    gap: 5px;
}